<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Creamos las clases que nos van a generar los aleatorios para el precio y la marca -->
	<bean id ="generarNumeroAleatorio" class="util.NumeroAleatorio"></bean>
	<bean id="generarMarcaAleatoria" class="util.MarcaAleatoria"></bean>

	<!-- Creamos las ram -->
	<bean id="ram1" class="entidad.Ram">
		<!-- <property name="precio" value="#{T(java.lang.Math).random() * (500-24)+24 }"></property> -->	
		<property name="precio" value="#{generarNumeroAleatorio.generarNumero(500,24)}"></property>
		<property name="hz" value="3200"></property>
		<property name="generacion" value="4º generacion"></property>
	</bean>
	<bean id="ram2" class="entidad.Ram">
		<property name="precio" value="#{generarNumeroAleatorio.generarNumero(500,24)}"></property>
		<property name="hz" value="4000"></property>
		<property name="generacion" value="4º generacion"></property>
	</bean>
	<bean id="ramGraficaIntegrada" class="entidad.Ram">
		<property name="precio" value="#{generarNumeroAleatorio.generarNumero(500,24)}"></property>
		<property name="hz" value="3200"></property>
		<property name="generacion" value="4º generacion"></property>
	</bean>
	<bean id="ramGrafica" class="entidad.Ram">
		<property name="precio" value="#{generarNumeroAleatorio.generarNumero(500,24)}"></property>
		<property name="hz" value="4000"></property>
		<property name="generacion" value="4º generacion"></property>
	</bean>
	
	<!-- Creamos la lista que contendra las ram -->
	<bean id="listaRam" class="java.util.ArrayList">
		<constructor-arg>
			<list value-type="entidad.Ram">
				<ref bean="ram1"/>
				<ref bean="ram2"/>
			</list>
		</constructor-arg>
	</bean>
	
	<!-- Creamos las tarjetas graficas -->
	<bean id="tarjetaGraficaIntegrada" class="entidad.TarjetaGrafica">
		<property name="precio" value="#{generarNumeroAleatorio.generarNumero(500,24)}"></property>
		<property name="marca" value="#{generarMarcaAleatoria.generarMarca()}"></property>
		<property name="modelo" value="HD620"></property>
		<property name="ram" ref="ramGraficaIntegrada"></property>
	</bean>
	<bean id="tarjetaGrafica1" class="entidad.TarjetaGrafica">
		<property name="precio" value="#{generarNumeroAleatorio.generarNumero(500,24)}"></property>
		<property name="marca" value="#{generarMarcaAleatoria.generarMarca()}"></property>
		<property name="modelo" value="GeForce RTX 3070"></property>
		<property name="ram" ref="ramGrafica"></property>
	</bean>
	
	<!-- Creamos la lista que contendra las tarjetas graficas -->
	<bean id="listaTarjetasGraficas" class="java.util.ArrayList">
		<constructor-arg>
			<list value-type="entidad.TarjetaGrafica">
				<ref bean="tarjetaGraficaIntegrada"/>
				<ref bean="tarjetaGrafica1"/>
			</list>
		</constructor-arg>
	</bean>
	
	<!-- Creamos el procesador -->
	<bean id="procesador" class="entidad.Procesador" autowire="byName">
		<property name="precio" value="#{generarNumeroAleatorio.generarNumero(500,24)}"></property>
		<property name="hz" value="3700"></property>
		<property name="marca" value="#{generarMarcaAleatoria.generarMarca()}"></property>
	</bean>
	
	<!-- Creamos los perifericos -->
	<bean id="periferico1" class="entidad.Periferico">
		<property name="precio" value="#{generarNumeroAleatorio.generarNumero(500,24)}"></property>
		<property name="marca" value="#{generarMarcaAleatoria.generarMarca()}"></property>
		<property name="tipo" value="RATON"></property>
	</bean>
	<bean id="periferico2" class="entidad.Periferico">
		<property name="precio" value="#{generarNumeroAleatorio.generarNumero(500,24)}"></property>
		<property name="marca" value="#{generarMarcaAleatoria.generarMarca()}"></property>
		<property name="tipo" value="TECLADO"></property>
	</bean>
	<bean id="periferico3" class="entidad.Periferico">
		<property name="precio" value="#{generarNumeroAleatorio.generarNumero(500,24)}"></property>
		<property name="marca" value="#{generarMarcaAleatoria.generarMarca()}"></property>
		<property name="tipo" value="MONITOR"></property>
	</bean>
	
	<!-- Creamos la lista de perifericos -->
	<bean id="listaPerifericos" class="java.util.ArrayList">
		<constructor-arg>
			<list value-type="entidad.Periferico">
				<ref bean="periferico1"/>
				<ref bean="periferico2"/>
				<ref bean="periferico3"/>
			</list>
		</constructor-arg>
	</bean>
	
	<!-- Creamos la placa base -->
	<bean id="placaBase" class="entidad.PlacaBase">
		<property name="precio" value="#{generarNumeroAleatorio.generarNumero(500,24)}"></property>
		<property name="marca" value="#{generarMarcaAleatoria.generarMarca()}"></property>
		<property name="modelo" value="X4070"></property>
	</bean>
		
	<!-- Montamos el ordenador -->
	<!-- 
	<bean id="ordenador" class="entidad.Ordenador" autowire="byName">
  		<property name="precio" value="#{ram1.precio + ram2.precio + tarjetaGraficaIntegrada.precio +
			tarjetaGrafica1.precio + procesador.precio + periferico1.precio + periferico2.precio +
			periferico3.precio + placaBase.precio}"></property>
		<property name="marca" value="#{generarMarcaAleatoria.generarMarca()}"></property>
	</bean>
	 -->
	 
	<bean id="ordenador" class="entidad.Ordenador" autowire="byName" 
		init-method="inicializador">
		<property name="marca" value="#{generarMarcaAleatoria.generarMarca()}"></property>
	</bean>
	
	<!-- Creamos la clase necesaria para el fichero -->
	<bean id="daoOrdenador" class="dao.DaoOrdenador" autowire="byName"></bean>
	
</beans>	